<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="Лидер тепла и изоляции" />
<meta name="description" content="Лидер тепла и изоляции" />
<link href="http://lider-rf.ru/bitrix/js/main/core/css/core.css?1370606996" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/templates/lider/components/bitrix/menu/horizontal_multilevel1/style.css?1375796346" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/templates/lider/components/bitrix/menu/menu-opened-rounded/style.css?1372150200" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/templates/lider/components/bitrix/news.list/simple/style.css?1372145788" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/panel/main/popup.css?1370607010" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/templates/lider/components/bitrix/news.list/reviews/style.css?1372160383" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/components/bitrix/breadcrumb/templates/.default/style.css?1370606998" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/templates/lider/styles.css?1380537514" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/templates/lider/template_styles.css?1380537514" type="text/css" rel="stylesheet" />

<script type="text/javascript" src="http://lider-rf.ru/bitrix/js/main/core/core.js?1370606996"></script>
<script type="text/javascript">(window.BX||top.BX).message({'LANGUAGE_ID':'ru','FORMAT_DATE':'DD.MM.YYYY','FORMAT_DATETIME':'DD.MM.YYYY HH:MI:SS','COOKIE_PREFIX':'BITRIX_SM','USER_ID':'','SERVER_TIME':'1384969277','SERVER_TZ_OFFSET':'14400','USER_TZ_OFFSET':'0','USER_TZ_AUTO':'Y','bitrix_sessid':'3e35c00c3938a296040c953d35f5ede2','SITE_ID':'s1'});(window.BX||top.BX).message({'JS_CORE_LOADING':'Загрузка...','JS_CORE_NO_DATA':'- Нет данных -','JS_CORE_WINDOW_CLOSE':'Закрыть','JS_CORE_WINDOW_EXPAND':'Развернуть','JS_CORE_WINDOW_NARROW':'Свернуть в окно','JS_CORE_WINDOW_SAVE':'Сохранить','JS_CORE_WINDOW_CANCEL':'Отменить','JS_CORE_H':'ч','JS_CORE_M':'м','JS_CORE_S':'с','JSADM_AI_HIDE_EXTRA':'Скрыть лишние','JSADM_AI_ALL_NOTIF':'Показать все','JSADM_AUTH_REQ':'Требуется авторизация!','JS_CORE_WINDOW_AUTH':'Войти','JS_CORE_IMAGE_FULL':'Полный размер'});</script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/js/main/core/core_ajax.js?1370606996"></script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/js/main/session.js?1370606995"></script>
<script type="text/javascript">
bxSession.Expand(1440, '3e35c00c3938a296040c953d35f5ede2', false, 'c70e4d5198568ec9d32316345bf0d9a9');
</script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/js/main/core/core_window.js?1370606996"></script>
<link href="http://lider-rf.ru/bitrix/templates/lider/plugins/js/jquery/fancybox/jquery.fancybox-1.3.4.css";  type="text/css" rel="stylesheet" />
<script type="text/javascript" src="http://lider-rf.ru/bitrix/templates/lider/componentshttp://lider-rf.ru/bitrix/menu/horizontal_multilevel1/script.js?1372076806"></script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/templates/lider/plugins/js/jquery/jquery-1.8.2.min.js?1361359979"></script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/templates/lider/plugins/js/jquery/jcarousellite_1.0.1.min.js?1361359980"></script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/templates/lider/plugins/js/jquery/jquery-ui-1.10.1.custom.min.js?1361423828"></script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/templates/lider/plugins/js/jquery/fancybox/jquery.mousewheel-3.0.4.pack.js?1286535524"></script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/templates/lider/plugins/js/jquery/fancybox/jquery.fancybox-1.3.4.pack.js?1289508058"></script>


<div id="out" class="index-page">
<div id="container">
<div id="header">
	<a href="/"><div id="company_logo"></div></a>
	<div id="header_text">
		Качественное тепло- <br>и шумоизоляционые <br/>материалы	</div>


	<div id="header_contacts">
		 
<table border="0"> <thead> 
    <tr><td colspan="3">Телефоны:</td></tr>
   </thead> 
  <tbody> 
    <tr><td><span class="phone-code">+7 (843)</span></td><td><span class="phone color1"> 226 10 40,</span></td><td><span class="phone color1"> 226 10 50</span></td></tr>
<tr><td colspan="3"><a href="/callback/">Оставить просьбу перезвонить</a></td></tr>
   </tbody>
 </table>
	</div>


	<div id="menu">
	
<ul id="horizontal-multilevel-menu">


	
	
		
							<li><a href="/" class="root-item-selected">Главная</a></li>
			
		
	
	

	
	
		
							<li><a href="/about-company/" class="root-item">О компании</a></li>
			
		
	
	

	
	
					<li><a href="/products/" class="root-item">Продукция</a>
				<ul>
		
	
	

	
	
		
							<li><a href="/products/thermal-insulation/">Теплоизоляция</a></li>
			
		
	
	

	
	
		
							<li><a href="/products/gidroizolyatsiya/">Гидроизоляция</a></li>
			
		
	
	

	
	
		
							<li><a href="/products/pipe-insulation-and-fire-proof-materials/">Изоляция для труб и огнезащитные материалы</a></li>
			
		
	
	

	
	
		
							<li><a href="/products/accessories/">Комплектующие</a></li>
			
		
	
	

	
	
		
							<li><a href="/products/gazoblok-and-brick/">Газоблоки и кирпич</a></li>
			
		
	
	

	
	
		
							<li><a href="/products/cement/">Цемент</a></li>
			
		
	
	

	
	
		
							<li><a href="/products/metal-corrugated-shingles/">Металлочерепица, профнастил, черепица </a></li>
			
		
	
	

	
	
		
							<li><a href="/products/interior-decoration/">Внутренняя отделка</a></li>
			
		
	
	

	
	
		
							<li><a href="/products/wood-tile-materials/">Древесно-плиточные материалы</a></li>
			
		
	
	

			</ul></li>	
	
		
							<li><a href="/article/" class="root-item">Статьи</a></li>
			
		
	
	

	
	
		
							<li><a href="/partner/" class="root-item">Партнеры</a></li>
			
		
	
	

	
	
		
							<li><a href="/pry-sheet/" class="root-item">Прайс-лист</a></li>
			
		
	
	

	
	
		
							<li><a href="/contacts/" class="root-item">Контакты</a></li>
			
		
	
	


</ul>
<div class="menu-clear-left"></div>
	</div>
	<div id="bigSlider">
		   
<div class="jSlider"> 
  <div class="jScrollBanners"> 
    <ul> 
      <li style="width:982px; height:295px"> <img src="http://lider-rf.ru/upload/medialibrary/762/1.jpg" width="982" height="295" alt="1.jpg"  /> 
        <div class="jslider-item-title">Материалы от лучших производителей для надежных домов</div>
       </li>
     
      <li style="width:982px; height:295px"> <img src="http://lider-rf.ru/upload/medialibrary/a57/5.jpg" width="982" height="295"  /> 
        <div class="jslider-item-title">Качественная теплоизоляция &mdash; тепло и уют вашего дома!</div>
       </li>
     
      <li style="width:982px; height:295px"> <img src="http://lider-rf.ru/upload/medialibrary/952/3.jpg" width="982" height="295"  /> 
        <div class="jslider-item-title">Профессиональные решения для строительных организаций</div>
       </li>
     
      <li style="width:982px; height:295px"> <img src="http://lider-rf.ru/upload/medialibrary/eb1/4.jpg" width="982" height="295"  /> 
        <div class="jslider-item-title">Индивидуальный подход к каждому клиенту</div>
       </li>
     </ul>
   </div>
 
  <div class="prevButton"></div>
 
  <div class="nextButton"></div>
 </div>
 
<div class="empty-block"> </div>
 
<script type="text/javascript"> 
$(".jSlider .jScrollBanners").jCarouselLite({
    auto: 9000,
    speed: 1400,
    scroll: 1,
    visible: 1,
    width: 982,
    height: 295,
    btnNext: ".jSlider .nextButton",
    btnPrev: ".jSlider .prevButton",
/*beforeStart: function(a) {
 $(a).parent().fadeTo(1000, 0);
 var bg = $(a).find('img').attr('src');
 $('.jSlider .jScrollBanners').css({
 backgroundImage: "url("+bg+")"
 }, 1000);
 },
 afterEnd: function(a) {
// $(a).parent().fadeTo(1000, 1);
 }
*/
});
</script>
 
<style>
div.jSlider{
height:295px;
position:relative;
width:982px;
}
.jSlider .prevButton, .jSlider .nextButton{
height:50px;
width: 50px;
position:absolute;
top:122px;
}
.jSlider .prevButton{
background:url(http://lider-rf.ru/bitrix/templates/lider/images/jslider_prev.png) no-repeat center center;
left:0px;
z-index:2;
}

.jSlider .nextButton{
background:url(http://lider-rf.ru/bitrix/templates/lider/images/jslider_next.png) no-repeat center center;
right:0px;
z-index:3;
}

.jSlider>div{
float:left;
}

.jSlider .jScrollBanners{
 border:0px solid #FFF;
}
.jSlider .jScrollBanners img{
margin:0px; 
width:982px;
height:auto;
position:absolute;
bottom:0px;
left:0px;
}
div.jSlider ul li{
overflow-x: hidden; 
overflow-y: hidden; 
float: left;
text-align:center;
position:relative;
}
div.jSlider ul li div.jslider-item-title{
position:absolute;
bottom:15px;
left:15px;
background:url(http://lider-rf.ru/bitrix/templates/lider/images/jslider_bg.png) bottom left;
width:350px;
height:50px;
padding:16px;
color:#2a2a29;
font-size:18px;
text-align:left;
     -webkit-border-radius: 14px;
     -moz-border-radius: 14px;
     border-radius: 14px;
}
</style>
	</div>
	<div id="quickLinks">
		 
<table> 
  <tbody> 
    <tr> <td style="background-attachment: scroll; background-image: url(&quot;http://www.lider-rf.ru/bitrix/templates/lider/images/quick-links/1.png&quot;); background-size: auto; background-origin: padding-box; background-clip: border-box; background-color: transparent; height: 102px; background-position: 19px 100%; background-repeat: no-repeat no-repeat;"><a href="/documents/private-person" style="padding-left: 125px; height:70px; padding-top:32px;display:block;" ><span>Частным лицам</span></a></td> <td style="background-attachment: scroll; background-image: url(&quot;http://www.lider-rf.ru/bitrix/templates/lider/images/quick-links/2.png&quot;); background-size: auto; background-origin: padding-box; background-clip: border-box; background-color: transparent; height: 102px; background-position: 19px 100%; background-repeat: no-repeat no-repeat;"><a href="/documents/construction-companies" style="padding-left: 125px; height:70px; padding-top:32px;display:block;" ><span>Строительным организациям</span></a></td> <td style="background-attachment: scroll; background-image: url(&quot;http://www.lider-rf.ru/bitrix/templates/lider/images/quick-links/4_1.png&quot;); background-size: auto; background-origin: padding-box; background-clip: border-box; background-color: transparent; height: 102px; background-position: 19px 100%; background-repeat: no-repeat no-repeat;"><a href="/documents/stroitelno-montazhnye-raboty" style="padding-left: 125px; height:70px; padding-top:10px;display:block;" ><span>Строительно-монтажные работы</span></a></td> <td style="background-attachment: scroll; background-image: url(&quot;http://www.lider-rf.ru/bitrix/templates/lider/images/quick-links/3_1.png&quot;); background-size: auto; background-origin: padding-box; background-clip: border-box; background-color: transparent; height: 102px; background-position: 19px 100%; background-repeat: no-repeat no-repeat;"><a href="/content/shares/" style="padding-left: 125px; height:70px; padding-top:32px;display:block;" ><span>Акции и спецпредложения</span></a></td> </tr>
   </tbody>
 </table>
 	</div>

</div>
</div>
</div>
<div id="container">
<table id="content" cellpadding="0" cellspacing="0">
	<tr>
		<td class="left-column">

<div class="menu-tree">
<ul>
	
			<li class="level-1">
				<div class="item-text">Продукция</div>
				<ul>
	
	
	
			<li class="level-2 close">
				<div class="item-text"><a href="/products/thermal-insulation/">Теплоизоляция</a></div>
				<ul>
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/thermal-insulation/mineralnaya-vata/">Минеральная вата</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/thermal-insulation/mineralnaya-vata-na-osnove-steklovolokna/">Минеральная вата на основе стекловолокна </a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/thermal-insulation/ekstrudirovannyy-penopolistirol/">Экструдированный пенополистирол</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/thermal-insulation/penoplast/">Пенопласт</a></div>
				</li>
		
	
	
			</ul></li>	
			<li class="level-2 close">
				<div class="item-text"><a href="/products/gidroizolyatsiya/">Гидроизоляция</a></div>
				<ul>
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/gidroizolyatsiya/bitumno-polimernye-materialy/">Битумно-полимерные материалы </a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/gidroizolyatsiya/pvkh-membrany/">ПВХ мембраны</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/gidroizolyatsiya/mastiki-i-praymery/">Мастики и праймеры</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/gidroizolyatsiya/paroizolyatsiya/">Пароизоляция</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/gidroizolyatsiya/geotekstil/">Геотекстиль</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/gidroizolyatsiya/drenazhnye-sistemy/">Дренажные системы</a></div>
				</li>
		
	
	
			</ul></li>	
			<li class="level-2 close">
				<div class="item-text"><a href="/products/pipe-insulation-and-fire-proof-materials/">Изоляция для труб и огнезащитные материалы</a></div>
				<ul>
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/pipe-insulation-and-fire-proof-materials/maty-folgirovannye-i-koshirovannye/">Маты, фольгированные и кашированные</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/pipe-insulation-and-fire-proof-materials/folgirovannye-i-koshirovannye-materialy/">Фольгированные и кашированные материалы</a></div>
				</li>
		
	
	
			</ul></li>	
			<li class="level-2 close">
				<div class="item-text"><a href="/products/accessories/">Комплектующие</a></div>
				<ul>
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/accessories/krepezhnye-izdeliya-dlya-krovli/">Крепежные изделия для кровли</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/accessories/krepezhnye-izdeliya-fasada/">Крепежные изделия фасада</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/accessories/voronki-i-aeratory/">Воронки и Аэраторы</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/accessories/uglovye-i-prizhimnye-reyki/">Угловые и прижимные рейки</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/accessories/fasadnaya-setka-i-profili/">Фасадная сетка и профили</a></div>
				</li>
		
	
	
			</ul></li>	
			<li class="level-2 close">
				<div class="item-text"><a href="/products/gazoblok-and-brick/">Газоблоки и кирпич</a></div>
				<ul>
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/gazoblok-and-brick/gazobloki-bikton/">Газоблоки BIKTON</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/gazoblok-and-brick/kirpich-mamadyshskiy-kirpichnyy-zavod/">Кирпич (Мамадышский кирпичный завод)</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/gazoblok-and-brick/kirpich-oao-chzsm/">Кирпич ОАО "ЧЗСМ"</a></div>
				</li>
		
	
	
			</ul></li>	
			<li class="level-2 close">
				<div class="item-text"><a href="/products/cement/">Цемент</a></div>
				<ul>
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/cement/evrotsement-grup">ЗАО "Ульяновскцемент"</a></div>
				</li>
		
	
	
			</ul></li>	
			<li class="level-2 close">
				<div class="item-text"><a href="/products/metal-corrugated-shingles/">Металлочерепица, профнастил, черепица </a></div>
				<ul>
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/metal-corrugated-shingles/metallokrovlya/">Металлокровля</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/metal-corrugated-shingles/gibkaya-cherepitsa/">Гибкая черепица "Тегола"</a></div>
				</li>
		
	
	
			</ul></li>	
			<li class="level-2 close">
				<div class="item-text"><a href="/products/interior-decoration/">Внутренняя отделка</a></div>
				<ul>
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/interior-decoration/gipsokarton/">Гипсокартон</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/interior-decoration/sukhie-smesi/">Сухие смеси</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/interior-decoration/keramogranit/">Керамогранит</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/interior-decoration/napolnye-i-potolochnye-pokrytiya/">Напольные и потолочные покрытия</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/interior-decoration/kraski/">Краски</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/interior-decoration/santekhnika-i-otoplenie/">Сантехника и отопление</a></div>
				</li>
		
	
	
			</ul></li>	
			<li class="level-2 close">
				<div class="item-text"><a href="/products/wood-tile-materials/">Древесно-плиточные материалы</a></div>
				<ul>
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/wood-tile-materials/osp/">ОСП</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/wood-tile-materials/gb/">ГБ</a></div>
				</li>
		
	
	
	
	
						<li  class="level-3">
					<div class="item-text"><a href="/products/wood-tile-materials/tssp/">ЦСП</a></div>
				</li>
		
	
	

	</ul></li></ul></li>
</ul>
</div>

 

<div class="information-block"> 	 	 
  <div class="information-block-head">Акции</div>
	<div class="information-block-body"><div class="news-list">
		<div class="news-item" id="bx_1914200112_458">
													<a href="/content/shares/458/"><b>Кирпич 9,90 руб./шт.</b></a><br />
										<b>Кирпич красный полнотелый </b><b style="color: rgb(236, 91, 0);">9,90</b><b> за штуку  (заказ от </b><b style="color: rgb(236, 91, 0);">5500 </b><b> штук) 
  <br />
 </b><b>Производство:</b> <b><font color="#ec5b00">Мамадышский кирпичный завод 
    <br />
   </font></b> 
<br />
 									</div>
		<div class="news-item" id="bx_1914200112_445">
													<a href="/content/shares/445/"><b>Минеральная вата</b></a><br />
										<b>Минеральная вата Басвул Лайт 35 плотности</b> <font color="#ec5b00"><b>по 1390 руб. / м<sup>3
      <br />
    
      <br />
    </sup></b></font> 									</div>
</div>
<a href="/content/shares/">Все акции</a></div> </div>
<div class="information-block"> 	 	 
  <div class="information-block-head">Отзывы</div>
	<div class="information-block-body"><div class="reviews-list">
		<div class="reviews-item" id="bx_1914200112_335">
					Выражаю благодарность за своевременную доставку приобретенной мною продукции. Качество на высоте как продукции, так и услуг.																	<span class="review-author">Геннадий Петрович (КазПромСнаб)</span>
					
	</div>
</div>
<a href="/content/reviews/">Все отзывы</a>
</div> </div>

			</td>
		<td class="main-column" >


			<div id="navigation"></div>
			<h1 id="pagetitle">О компании</h1> 
<p align="justify"><strong>Торговая Компания &laquo;Лидер&raquo;</strong> - мультибрендовый поставщик систем утепления для зданий и сооружений промышленного и гражданского назначения. Приоритетное направление в сфере поставок - кровельные и изоляционные материалы. Мы сотрудничаем с потребителями всех уровней. Нашими постоянными клиентами являются как крупные промышленные предприятия и компании- застройщики, государственные учреждения, так и небольшие строительные бригады и частные застройщики. </p>
 
<p align="justify"><hr/></p>
 
<h1>Преимущества работы с нами</h1>
 
<table width="100%" border="0" cellpadding="3" cellspacing="0" align="center" style="border-collapse: collapse;"> 
  <tbody> 
    <tr><td width="65" align="center"><img src="http://lider-rf.ru/upload/medialibrary/6ab/1-1.png" border="0" width="65" height="64"  /></td><td>Оперативная доставка материалов в любую точку России</td><td width="65" align="center"><img src="http://lider-rf.ru/upload/medialibrary/a6b/4-1.png" border="0" width="65" height="64"  /></td><td> Гибкая ценовая политика </td></tr>
   
    <tr><td align="center"><img src="http://lider-rf.ru/upload/medialibrary/c20/2-1.png" border="0" width="65" height="64"  /></td><td>Расчет количества материалов</td><td align="center"><img src="http://lider-rf.ru/upload/medialibrary/dd6/5-1.png" border="0" width="65" height="64"  /></td><td> Гарантированное качество продукции </td></tr>
   
    <tr><td align="center"><img src="http://lider-rf.ru/upload/medialibrary/50f/3-1.png" border="0" width="65" height="64"  /></td><td>Индивидуальный подход к каждому клиенту</td><td align="center"><img src="http://lider-rf.ru/upload/medialibrary/7f5/6-1.png" border="0" width="65" height="64"  /></td><td>Профессиональные консультации по любому вопросу</td></tr>
   
    <tr><td colspan="1" align="center"><img src="http://lider-rf.ru/upload/medialibrary/e04/7-1.png" border="0" width="64" height="64"  /></td><td colspan="3"> Профессиональные решения с применением современных строительных материалов и технологий </td></tr>
   </tbody>
 </table>
  
<br />
		</td>
		<td class="right-column"> <a id="consultant" href="https://siteheart.com/webconsultation/603129?" target="siteheart_sitewindow_603129" onclick="o=window.open;o('https://siteheart.com/webconsultation/603129?', 'siteheart_sitewindow_603129', 'width=550,height=400,top=30,left=30,resizable=yes'); return false;" >On-line   <br /> консультант</a>
<a id="feedback" href="/feedback/" >Оформить  <br /> заявку</a> 


<div class="information-block"> 	 	 
  <div class="information-block-head">Новости</div>
	<div class="information-block-body"><div class="news-list">
		<div class="news-item" id="bx_1914200112_334">
							<span class="news-date-time">25 Июня 2013</span>
											<a href="/content/news/90/334/"><b>Сайт компании &quot;Лидер&quot; начал свою работу!</b></a><br />
										Уважаемые клиенты! 
<br />
С 01.06.2013 г. начал свою работу сайт ТК &quot;Лидер&quot;.									</div>
</div>
<a href="/content/news/">Все новости</a></div> </div>
<div class="information-block">
	<div class="information-block-head">
	Актуальные вопросы
	</div>
	<div class="information-block-body">
	<ul class="decorated">
		<li><a href="/article/why-is-insulation/" >Как выбрать материал?</a></li>
	</ul>
	</div>
</div></td>
	</tr>
</table>
			<div id="smallslider">
				 
<div class="jBanners"> 
  <div class="prevButton"></div>
 
  <div class="jScrollBanners"> 
    <ul> 
      <li><img src="http://lider-rf.ru/upload/medialibrary/31e/armstrong-logo.jpg" width="156" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/575/baswool-logo.jpg" width="156" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/258/baufas-logo.jpg" width="156" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/b2f/bergauf-logo.jpg" border="0" width="160" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/709/bikton-logo.jpg" width="156" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/183/cheboksary-logo.jpg" width="156" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/93b/ecover-logo.jpg" width="156" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/7ac/egger-logo.jpg" width="156" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/fe3/everest-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/dd6/fiorano-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/72f/general-hydraulic-logo.jpg" width="156" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/b89/geospan-logo.jpg" width="156" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/b2e/green-board-logo.jpg" width="156" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/4d6/gyproc.jpg" width="156" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/5d8/isospan-logo.jpg" width="156" height="52"  /></li>
     
      <li> <img src="http://lider-rf.ru/upload/medialibrary/465/isover-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/31f/izivek-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/c39/kast-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/1a5/louisiana-pacific-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/9cd/mamadysh-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/97e/metallokrovlya-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/359/mosstroy-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/20b/mss-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/0ad/ondutis-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/74a/piastrella-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/f3f/plastfoil-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/3c6/polystil-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/5fb/roks-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/a0d/tegola-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/e14/tehnonikol-logo1.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/93d/teks-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/7b9/tema-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/8b5/termoclip-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/f98/timpleks-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/4cc/tizol-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/c1f/ulyan-logo.jpg" width="156" height="52"  /></li>
     
      <li><img src="http://lider-rf.ru/upload/medialibrary/58f/weroform-logo.jpg" width="156" height="52"  /></li>
     </ul>
   </div>
 
  <div class="nextButton"></div>
 </div>
 
<div class="empty-block"> </div>
 
<script type="text/javascript"> 
$(".jBanners .jScrollBanners").jCarouselLite({
    auto: 3000,
    speed: 800,
    scroll: 1,
    visible: 6,
    width: 154,
    height: 52,
    btnNext: ".jBanners .nextButton",
    btnPrev: ".jBanners .prevButton",
});
</script>
 
<style>
div.jBanners{
height:53px;
padding:0px;
/*border-top:1px solid #f2f2f2;
border-bottom:1px solid #f2f2f2;
*/}
.jBanners .prevButton{
width: 20px;
background:url(http://lider-rf.ru/upload/medialibrary/b65/1_jslider_prev.png) no-repeat center center;
height:53px;
}

.jBanners .nextButton{
width: 20px;
background:url(http://lider-rf.ru/upload/medialibrary/7fd/2_jslider_prev.png) no-repeat center center;
height:53px;
}

.jBanners>div{
float:left;
}

.jBanners .jScrollBanners img{
width:152px;
height:auto;

}
div.jBanners ul li{
overflow-x: hidden; 
overflow-y: hidden; 
float: left;
}
</style>			</div>
<div class="footer-box">
		
<table style="width:100%;">
<tr>
	<td style="text-align:center;">
						<span>Главная</span>&nbsp;&nbsp;
				</td>
	<td style="text-align:center;">
						<a href="/about-company/">О компании</a>&nbsp;&nbsp;
				</td>
	<td style="text-align:center;">
						<a href="/products/">Продукция</a>&nbsp;&nbsp;
				</td>
	<td style="text-align:center;">
						<a href="/article/">Статьи</a>&nbsp;&nbsp;
				</td>
	<td style="text-align:center;">
						<a href="/partner/">Партнеры</a>&nbsp;&nbsp;
				</td>
	<td style="text-align:center;">
						<a href="/pry-sheet/">Прайс-лист</a>&nbsp;&nbsp;
				</td>
	<td style="text-align:center;">
						<a href="/contacts/">Контакты</a>&nbsp;&nbsp;
				</td>
</tr>
</table>
</div>

<table id="footer">



	<tr>
		<td id="address">
		 <strong>Адрес:</strong> г. Казань, Кулагина, 13  
<br />
 <strong>Телефон:</strong> 226-10-40, 226-10-50 
<br />
 <strong>E-mail:</strong> <a href="mailto:info@lider-rf.ru" >info@lider-rf.ru</a>		</td>
		<td id="copyright">
		
<style>
a{
text-decoration:none;
}
</style>
 
<div style="text-align: right;"></div>
 
<table border="0" cellpadding="1" cellspacing="1" align="right" style="border-collapse: collapse;"> 
  <tbody> 
    <tr><td> 
<!--LiveInternet counter-->
 
<script type="text/javascript"><!--
document.write("<a id="bxid_153905" href="http://www.liveinternet.ru/click" ><img id="bxid_113637" src="//counter.yadro.ru/hit?t53.2;r&quot;+
escape(document.referrer)+((typeof(screen)==&quot;undefined&quot;)?&quot;&quot;:
&quot;;s&quot;+screen.width+&quot;*&quot;+screen.height+&quot;*&quot;+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+&quot;;u&quot;+escape(document.URL)+
&quot;;&quot;+Math.random()+
&quot;" alt="" title="LiveInternet: показано число просмотров и&quot;+
&quot; посетителей за 24 часа" width="88" height="31"  /><\/a>")
//--></script>
 
<!--/LiveInternet-->
 </td><td width="20"></td><td><a href="http://iskazan.ru">Создание и продвижение сайтов 
          <br />
         &quot;ИНТЕРНЕТ-СЕРВИС&quot;, 2013 г.</a></td></tr>
   </tbody>
 </table>
		</td>

	</tr>
</table>

</div>

<script type="text/javascript">
	$("a.catalog-certificate").attr("rel","group").fancybox({
		'titleShow'     : false,
		'autoScale'     : true
	});
	$("a.gallery:has(img.catalog-detail-picture-small)").attr("target","_blank").attr("rel","small-gallery").addClass("small-gallery").removeClass("gallery").fancybox({
		'titleShow'     : true,
		'autoScale'     : true
	});

	$("a.gallery").attr("target","_blank").attr("rel","gallery").fancybox({
		'titleShow'     : false,
		'autoScale'     : true
	});



</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21685786 = new Ya.Metrika({id:21685786,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21685786" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript"> _shcp = []; _shcp.push({widget_id : 603129, widget : "Chat"}); (function() { var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true; hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://widget.siteheart.com/apps/js/sh.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hcc, s.nextSibling); })();</script>