<h1>Редактирование производителя</h1>

<%= render 'form' %>

<%= link_to 'Обзор', admin_manufacturer_path(@manufacturer), class: "btn btn-mini btn-info" %> |
<%= link_to 'Возврат', admin_manufacturers_path, class: "btn btn-mini btn-success" %>
