<div class="information-block">          
  <div class="information-block-head">Акции</div>
    <div class="information-block-body">
        <div class="news-list">
            <div class="news-item" id="bx_1914200112_458">
                    <a href="/content/shares/458/"><b>Кирпич 9,90 руб./шт.</b></a><br />
                    <b>Кирпич красный полнотелый </b><b style="color: rgb(236, 91, 0);">9,90</b><b> за штуку  (заказ от </b><b style="color: rgb(236, 91, 0);">5500 </b><b> штук) 
                    <br />
                    </b><b>Производство:</b> <b><font color="#ec5b00">Мамадышский кирпичный завод 
                    <br />
                    </font></b> 
                    <br />
            </div>
            <div class="news-item" id="bx_1914200112_445">
                <a href="/content/shares/445/"><b>Минеральная вата</b></a><br />
                    <b>Минеральная вата Басвул Лайт 35 плотности</b> <font color="#ec5b00"><b>по 1390 руб. / м<sup>3
                    <br />
                    <br />
                    </sup></b>
                </font>                                     
            </div>
        </div>
    <a href="/content/shares/">Все акции</a></div> 
</div>
    <div class="information-block">          
      <div class="information-block-head">Отзывы</div>
        <div class="information-block-body">
            <div class="reviews-list">
                <div class="reviews-item" id="bx_1914200112_335">
                    Выражаю благодарность за своевременную доставку приобретенной мною продукции. Качество на высоте как продукции, так и услуг.                                                                    <span class="review-author">Геннадий Петрович (КазПромСнаб)</span>
                </div>
            </div>
            <a href="/content/reviews/">Все отзывы</a>
        </div> 
    </div>
        </td>