<div id="quickLinks">
         
    <table> 
        <tbody> 
            <tr> 
                <td style="background-attachment: scroll; background-image: url(&quot;http://www.lider-rf.ru/bitrix/templates/lider/images/quick-links/1.png&quot;); background-size: auto; background-origin: padding-box; background-clip: border-box; background-color: transparent; height: 102px; background-position: 19px 100%; background-repeat: no-repeat no-repeat;"><a href="/documents/private-person" style="padding-left: 125px; height:70px; padding-top:32px;display:block;" ><span>Частным лицам</span></a></td> 
                
                <td style="background-attachment: scroll; background-image: url(&quot;http://www.lider-rf.ru/bitrix/templates/lider/images/quick-links/2.png&quot;); background-size: auto; background-origin: padding-box; background-clip: border-box; background-color: transparent; height: 102px; background-position: 19px 100%; background-repeat: no-repeat no-repeat;"><a href="/documents/construction-companies" style="padding-left: 125px; height:70px; padding-top:32px;display:block;" ><span>Строительным организациям</span></a></td> 

                <td style="background-attachment: scroll; background-image: url(&quot;http://www.lider-rf.ru/bitrix/templates/lider/images/quick-links/4_1.png&quot;); background-size: auto; background-origin: padding-box; background-clip: border-box; background-color: transparent; height: 102px; background-position: 19px 100%; background-repeat: no-repeat no-repeat;"><a href="/documents/stroitelno-montazhnye-raboty" style="padding-left: 125px; height:70px; padding-top:10px;display:block;" ><span>Строительно-монтажные работы</span></a></td> 

                <td style="background-attachment: scroll; background-image: url(&quot;http://www.lider-rf.ru/bitrix/templates/lider/images/quick-links/3_1.png&quot;); background-size: auto; background-origin: padding-box; background-clip: border-box; background-color: transparent; height: 102px; background-position: 19px 100%; background-repeat: no-repeat no-repeat;"><a href="/content/shares/" style="padding-left: 125px; height:70px; padding-top:32px;display:block;" ><span>Акции и спецпредложения</span></a></td> 
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>