<td class="right-column"> 


	<div class="information-block"> 	 	 
	  <div class="information-block-head">Новости</div>
		<div class="information-block-body">
			<div class="news-list">
				<div class="news-item" id="bx_1914200112_334">
					<span class="news-date-time">25 Июня 2013</span>
					<a href="/content/news/90/334/"><b>Сайт компании &quot;Лидер&quot; начал свою работу!</b></a><br />
					Уважаемые клиенты! 
					<br />
					С 01.06.2013 г. начал свою работу сайт ТК &quot;Лидер&quot;.			
				</div>
			</div>
			<a href="/content/news/">Все новости</a>
		</div> 
	</div>
	<div class="information-block">
		<div class="information-block-head">
			Актуальные вопросы
		</div>
		<div class="information-block-body">
			<ul class="decorated">
				<li><a href="/article/why-is-insulation/" >Как выбрать материал?</a></li>
			</ul>
		</div>
	</div>
</td>