<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="Лидер тепла и изоляции" />
<meta name="description" content="Лидер тепла и изоляции" />
<link href="http://lider-rf.ru/bitrix/js/main/core/css/core.css?1370606996" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/templates/lider/components/bitrix/menu/horizontal_multilevel1/style.css?1375796346" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/templates/lider/components/bitrix/menu/menu-opened-rounded/style.css?1372150200" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/templates/lider/components/bitrix/news.list/simple/style.css?1372145788" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/panel/main/popup.css?1370607010" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/templates/lider/components/bitrix/news.list/reviews/style.css?1372160383" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/components/bitrix/breadcrumb/templates/.default/style.css?1370606998" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/templates/lider/styles.css?1380537514" type="text/css" rel="stylesheet" />
<link href="http://lider-rf.ru/bitrix/templates/lider/template_styles.css?1380537514" type="text/css" rel="stylesheet" />

<script type="text/javascript" src="http://lider-rf.ru/bitrix/js/main/core/core.js?1370606996"></script>
<script type="text/javascript">(window.BX||top.BX).message({'LANGUAGE_ID':'ru','FORMAT_DATE':'DD.MM.YYYY','FORMAT_DATETIME':'DD.MM.YYYY HH:MI:SS','COOKIE_PREFIX':'BITRIX_SM','USER_ID':'','SERVER_TIME':'1384969277','SERVER_TZ_OFFSET':'14400','USER_TZ_OFFSET':'0','USER_TZ_AUTO':'Y','bitrix_sessid':'3e35c00c3938a296040c953d35f5ede2','SITE_ID':'s1'});(window.BX||top.BX).message({'JS_CORE_LOADING':'Загрузка...','JS_CORE_NO_DATA':'- Нет данных -','JS_CORE_WINDOW_CLOSE':'Закрыть','JS_CORE_WINDOW_EXPAND':'Развернуть','JS_CORE_WINDOW_NARROW':'Свернуть в окно','JS_CORE_WINDOW_SAVE':'Сохранить','JS_CORE_WINDOW_CANCEL':'Отменить','JS_CORE_H':'ч','JS_CORE_M':'м','JS_CORE_S':'с','JSADM_AI_HIDE_EXTRA':'Скрыть лишние','JSADM_AI_ALL_NOTIF':'Показать все','JSADM_AUTH_REQ':'Требуется авторизация!','JS_CORE_WINDOW_AUTH':'Войти','JS_CORE_IMAGE_FULL':'Полный размер'});</script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/js/main/core/core_ajax.js?1370606996"></script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/js/main/session.js?1370606995"></script>
<script type="text/javascript">
bxSession.Expand(1440, '3e35c00c3938a296040c953d35f5ede2', false, 'c70e4d5198568ec9d32316345bf0d9a9');
</script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/js/main/core/core_window.js?1370606996"></script>
<link href="http://lider-rf.ru/bitrix/templates/lider/plugins/js/jquery/fancybox/jquery.fancybox-1.3.4.css";  type="text/css" rel="stylesheet" />
<script type="text/javascript" src="http://lider-rf.ru/bitrix/templates/lider/componentshttp://lider-rf.ru/bitrix/menu/horizontal_multilevel1/script.js?1372076806"></script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/templates/lider/plugins/js/jquery/jquery-1.8.2.min.js?1361359979"></script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/templates/lider/plugins/js/jquery/jcarousellite_1.0.1.min.js?1361359980"></script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/templates/lider/plugins/js/jquery/jquery-ui-1.10.1.custom.min.js?1361423828"></script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/templates/lider/plugins/js/jquery/fancybox/jquery.mousewheel-3.0.4.pack.js?1286535524"></script>
<script type="text/javascript" src="http://lider-rf.ru/bitrix/templates/lider/plugins/js/jquery/fancybox/jquery.fancybox-1.3.4.pack.js?1289508058"></script>


<div id="out" class="index-page">
<div id="container">


<div id="header">
	<a href="/"><div id="company_logo"></div></a>
	<div id="header_text">
		Качественное тепло- <br>и шумоизоляционые <br/>материалы	
	</div>


	<div id="header_contacts">
		 
		<table border="0"> <thead> 
		    <tr><td colspan="3">Телефоны:</td></tr>
		   	</thead> 
		    <tbody> 
		    	<tr><td><span class="phone-code">+7 (843)</span></td><td><span class="phone color1"> 226 10 40,</span>   </td><td><span class="phone color1"> 226 10 50</span></td></tr>
				<tr><td colspan="3"><a href="/callback/">Оставить просьбу перезвонить</a></td></tr>
		    </tbody>
		</table>
	</div>


	<div id="menu">
	
			<ul id="horizontal-multilevel-menu">		
				<li><a href="/" class="root-item-selected">Главная</a></li>		
				<li><a href="/about-company/" class="root-item">О компании</a></li>	
				<li><a href="/products/" class="root-item">Продукция</a><ul>		
				<li><a href="/products/thermal-insulation/">Теплоизоляция</a></li>
				<li><a href="/products/gidroizolyatsiya/">Гидроизоляция</a></li>
				<li><a href="/products/pipe-insulation-and-fire-proof-materials/">Изоляция для труб и огнезащитные материалы</a></li>
				<li><a href="/products/accessories/">Комплектующие</a></li>
				<li><a href="/products/gazoblok-and-brick/">Газоблоки и кирпич</a></li>
				<li><a href="/products/cement/">Цемент</a></li>
				<li><a href="/products/metal-corrugated-shingles/">Металлочерепица, профнастил, черепица </a></li>
				<li><a href="/products/interior-decoration/">Внутренняя отделка</a></li>
				<li><a href="/products/wood-tile-materials/">Древесно-плиточные материалы</a></li>
			</ul>

			</li>	
				<li><a href="/article/" class="root-item">Статьи</a></li>
				<li><a href="/partner/" class="root-item">Партнеры</a></li>
				<li><a href="/pry-sheet/" class="root-item">Прайс-лист</a></li>
				<li><a href="/contacts/" class="root-item">Контакты</a></li>	
			</ul>
		<div class="menu-clear-left"></div>
	</div>

	