<div id="smallslider">
				 
	<div class="jBanners"> 
  		<div class="prevButton"></div>
 
  		<div class="jScrollBanners"> 
	    <ul> 
	      <li><img src="http://lider-rf.ru/upload/medialibrary/31e/armstrong-logo.jpg" width="156" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/575/baswool-logo.jpg" width="156" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/258/baufas-logo.jpg" width="156" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/b2f/bergauf-logo.jpg" border="0" width="160" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/709/bikton-logo.jpg" width="156" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/183/cheboksary-logo.jpg" width="156" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/93b/ecover-logo.jpg" width="156" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/7ac/egger-logo.jpg" width="156" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/fe3/everest-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/dd6/fiorano-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/72f/general-hydraulic-logo.jpg" width="156" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/b89/geospan-logo.jpg" width="156" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/b2e/green-board-logo.jpg" width="156" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/4d6/gyproc.jpg" width="156" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/5d8/isospan-logo.jpg" width="156" height="52"  /></li>
	     
	      <li> <img src="http://lider-rf.ru/upload/medialibrary/465/isover-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/31f/izivek-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/c39/kast-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/1a5/louisiana-pacific-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/9cd/mamadysh-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/97e/metallokrovlya-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/359/mosstroy-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/20b/mss-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/0ad/ondutis-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/74a/piastrella-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/f3f/plastfoil-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/3c6/polystil-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/5fb/roks-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/a0d/tegola-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/e14/tehnonikol-logo1.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/93d/teks-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/7b9/tema-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/8b5/termoclip-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/f98/timpleks-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/4cc/tizol-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/c1f/ulyan-logo.jpg" width="156" height="52"  /></li>
	     
	      <li><img src="http://lider-rf.ru/upload/medialibrary/58f/weroform-logo.jpg" width="156" height="52"  /></li>
	    </ul>
   		</div>
 
  		<div class="nextButton"></div>
	</div>
 
	<div class="empty-block"> </div>
 
	<script type="text/javascript"> 
		$(".jBanners .jScrollBanners").jCarouselLite({
		    auto: 3000,
		    speed: 800,
		    scroll: 1,
		    visible: 6,
		    width: 154,
		    height: 52,
		    btnNext: ".jBanners .nextButton",
		    btnPrev: ".jBanners .prevButton",
		});
	</script>
 
	<style>
		div.jBanners{
		height:53px;
		padding:0px;
		/*border-top:1px solid #f2f2f2;
		border-bottom:1px solid #f2f2f2;
		*/}
		.jBanners .prevButton{
		width: 20px;
		background:url(http://lider-rf.ru/upload/medialibrary/b65/1_jslider_prev.png) no-repeat center center;
		height:53px;
		}

		.jBanners .nextButton{
		width: 20px;
		background:url(http://lider-rf.ru/upload/medialibrary/7fd/2_jslider_prev.png) no-repeat center center;
		height:53px;
		}

		.jBanners>div{
		float:left;
		}

		.jBanners .jScrollBanners img{
		width:152px;
		height:auto;

		}
		div.jBanners ul li{
		overflow-x: hidden; 
		overflow-y: hidden; 
		float: left;
		}
	</style>			
</div>