<h1 style="margin-top: 30px;">Статистика</h1>

<div class="hero-unit">
	<p>
		<i>Кол-во пользователей</i>
		<i class= "icon-user"></i>
		<strong><%= User.count %></strong>
	</p>

	<p>
		<i>Кол-во производителей</i>
		<i class= "icon-hand-right"></i>
		<strong><%= Manufacturer.count %></strong>
	</p>
	<p>
		<i>Кол-во продукции</i>
		<i class= "icon-gift"></i>
		<strong><%= Product.count %></strong>
	</p>
</div>
