<h1>Редактирование продукта</h1>

<%= render 'form' %>

<%= link_to 'Обзор', [:admin, @product], class: "btn btn-mini btn-info" %> |
<%= link_to 'Возврат', admin_products_path, class: "btn btn-mini btn-success" %>
