<div class="span3">
  <div class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li class="nav-header">Управление</li>
	  <li><%= link_to "Производитель", admin_manufacturers_path %></li>
	  <li><%= link_to "Продукция",  admin_products_path %></li>
	  <li><%= link_to "Пользователи", admin_users_path %></li>
	</ul>
  </div><!--/.well -->
</div><!--/span-->