<!DOCTYPE html>
<html>
  <head>
    <title>Izotorg</title>
    <%= stylesheet_link_tag    "new_design", :media => "all" %>
    <%= javascript_include_tag "new_design" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
